<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>location: <%= @event.location %></p>


    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Price per Person: <%= @event.price %></p>
    <p>Capacity: <%= @event.capacity %></p>

    <!-- About -->
    <h4>About</h4>
    <p>Descriiption: <%= @event.description %></p>
    <p>Start at:<%= @event.starts_at %></p>
    <p>End at:<%= @event.ends_at %></p>


    <!-- Amenities -->
    <h4>Amenities</h4>
    <ul class="amenities">
      <li><%= !@event.includes_food ? ("<s>Includes Food</s>").html_safe : "Includes Food" %></li>
      <li><%= !@event.includes_drinks ? ("<del>includes_drinks</del>").html_safe : "Includes Drinks" %></li>
    </ul>

    <h4>Categories</h4>
    <% @categories.each do |category| %>
      <span class="label label-success"><%= category.name %></span>
    <% end %>

  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
